RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_headers.c>
    SetEnvIf Origin "^http(s)?://(.+\.)?192.168.1.219:(8000|8080)$" origin_is=$0 
    Header set Access-Control-Allow-Origin %{origin_is}e env=origin_is
    Header set Access-Control-Allow-Credentials true
</IfModule>